@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');


/* this is non resposive , please adjust for smaller screens before using*/


* {
    padding: 0;
    margin: 0;
    font-family: 'Mulish', sans-serif;

}


.container {
    display: flex;
    background: #FFB6C1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;


}

.span1 {
    width: 200px;
    height: 200px;
    position: fixed;
    border-radius: 50%;
    transform: rotate(30deg) scale(1.5);
    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.1),
        15px 20px 20px rgba(0, 0, 0, 0.5),
        inset -25px -20px 20px rgba(255, 255, 255, 0.3);
    animation: anim 20s ease infinite;
}

.span2 {
   
    height: 100px;
    width: 200px;
    text-align: center;
    color: turquoise;
    font-size: 12vh;
    color: rgb(193, 193, 218);
    justify-content: center;
    transform: translateX(300px) translateY(180px);
    letter-spacing: 10px;
    position: absolute;
}

.span2 .medtext {
    font-weight: 100;
    margin-left: -95px;
    text-shadow: 5px 5px 20px rgba(19, 133, 179, 0.5),
        -10px 10px 20px rgba(255, 255, 255, 0.5);
    z-index: 10;
    color: turquoise;
}
.span3 {
    position: absolute;
    bottom: 10px;
    right: 20px;
    height: 120px;
    justify-content: center;
}

.span4 {
    transform: translateY(80px) rotate(90deg) translateX(300px);
    height: 50px;
    justify-content: center;
    position: absolute;
}

.span4 h2 {
    font-size: 80px;
    font-weight: 10;
    padding-bottom: 10px;
    color: rgb(86, 86, 206);
    text-shadow: 5px 5px 20px rgba(19, 133, 179, 0.5),
        -10px 10px 10px rgba(255, 255, 255, 0.5);


}

.span3 h2 {
    color: rgb(86, 86, 206);
}

.main_box
{
    height: 50%;
    width: 70%;
    background: #ADD8E6;
    border-radius: 30px;

}
.inputbox1
{
    border-radius: 30px;
    border: none;
    outline: none;
    text-align: center;
    padding: 10px 10px;
    margin: 0 auto;
    margin-left: 144px;
    margin-top: 46px;
}
.inputbox2
{
    border-radius: 30px;
    border: none;
    outline: none;
    color: green;
    text-align: center;
    font-size: 20px;
    padding: 20px 20px;
    margin: 0 auto;
    margin-left: 180px;
    margin-top: 30px;
}
.button_class
{
    border-radius: 30px;
    background: turquoise;
    border: none;
    outline: none;
    color: white;
    text-align: center;
        padding: 20px 23px;
    margin: 0 auto;
    margin-left: 180px;
    margin-top: 46px;
}
.p_text p
{
    text-align: center;
    margin-top: 5px;
    color: white;
}
.main_box h1
{
    color: white;
    text-align: center;
}

.texth1
{
    color: white;
    text-align: center;
}
@keyframes animate {
    0% {
        transform: scale(0);
    }

    40% {


        transform: scale(1.2);

    }

    60% {
        transform: scale(1.2);


    }


    100% {
        transform: scale(0);
    }

}



.span5 {
    width: 50vw;
    height:50vw;
    position: absolute;
    left: 40vw;
    top: 20vh;
    border-radius: 50%;
    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.1),
        15px 20px 20px rgba(0, 0, 0, 0.5),
        inset -25px -20px 20px rgba(255, 255, 255, 0.3);
    /*animation: anim 17s ease infinite;*/
}


.span6 {
    width: 6vw;
    height: 6vw;
    position: absolute;
    left: 80vw;
    top: 80vh;
    border-radius: 50%;
    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.1),
        15px 20px 20px rgba(0, 0, 0, 0.5),
        inset -25px -20px 20px rgba(255, 255, 255, 0.3);


}

body {
    height: 100%;
    background: #FFB6C1;
}

.span3 h2 {
    font-size:18px;
    bottom: 10px;
    font-weight: 100;
}

@Keyframes anim {
    50% {
        transform: translateX(50px) scale(1.3) translateY(5px);
    }
}